<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855261335455-h2on4c8qdibus0rnv5132gjpo51lg52n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855261335455-h2on4c8qdibus0rnv5132gjpo51lg52n</string>
	<key>API_KEY</key>
	<string>AIzaSyAOpFCGctRDOJ6R3R1f3IvBwK1RVAHIOzU</string>
	<key>GCM_SENDER_ID</key>
	<string>855261335455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>atlas.travel</string>
	<key>PROJECT_ID</key>
	<string>atlastravel-4c66e</string>
	<key>STORAGE_BUCKET</key>
	<string>atlastravel-4c66e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855261335455:ios:ee20b4d4f46dfdda0477aa</string>
</dict>
</plist>